@tailwind base;
body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply m-0;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  @apply bg-gray-L100 px-1 py-0.5 rounded-sm;
}

svg .actor {
  @apply cursor-help duration-300 fill-gray-L100 stroke-2 transition-all;
}

svg .has-tooltip {
  @apply cursor-help;
}

svg .has-tooltip:hover {
  @apply !fill-blue-500 !font-bold;
}
@tailwind components;
@tailwind utilities;

.base-button {
  @apply bg-blue-500 border-0 cursor-pointer disabled:bg-gray-L300 disabled:cursor-not-allowed font-bold hover:bg-blue-700 px-4 py-3 rounded-sm text-white;
}

.no-outline {
  outline: 0px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.pagination-button {
  @apply bg-gray-L100 border border-gray-L300 border-solid cursor-pointer px-4 py-2 rounded-sm text-gray-D1200;
}

.pagination-button:hover:not(:disabled) {
  @apply bg-gray-L200;
}

.pagination-button:disabled {
  @apply cursor-not-allowed opacity-50;
}
